<style>
  .tighten {
    line-height: 60%;
  }
</style>

<head>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css"
  />
</head>

<footer class="site-footer h-card">
  <data class="u-url" href="{{ '/' | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          {%- if site.email -%}
          <li>
            <a class="u-email" href="mailto:{{ site.email }}"
              >{{ site.email }}</a
            >
          </li>
          {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-3 tighten">
        <p>
          Connect with me:
          <a href="https://www.linkedin.com/in/arnaldo-aparicio/">
            <i
              style="font-size: 25px"
              class="devicon-linkedin-plain colored"
            ></i
          ></a>
          <a href="https://github.com/arnaldoaparicio"
            ><i
              style="font-size: 25px"
              class="devicon-github-original colored"
            ></i
          ></a>
        </p>
        <p>{{- site.description | escape -}}</p>
      </div>
      
    </div>
  </div>
</footer>
